* {
    margin: 0;
    padding: 0;
}

.card {
    padding: 30px;
    border: 5px solid green;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
}

#imgContainer {
    width: 400px;
    height: 350px;
    display: flex;
    align-items: center;
    background-color: #333;
    border: 5px solid green;
}

#imgContainer img {
    width: 100%;
}

#admButtons {
    display: flex;
    gap: 20px;
}

#admButtons button {
    padding: 10px 20px;
    color: #fff;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
}

#admButtons button:first-child{
    background-color: #ff0000;
}

#admButtons button:last-child{
    background-color: green;
}

#userButtons button {
    padding: 10px 20px;
    color: #fff;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    background-color: green;
}
